body{
    background-color: black;
}

#nav{
text-align: center;
background-color: rgba(189, 18, 18, 0.724);
height: 200px;
width: auto;

}
#cont{
display: inline-block;
text-align: auto;
background-color: rgba(255, 55, 0, 0.437);
height: auto;
width: auto;
column-count: auto;
}
#cont2{
display: inline-block;
text-align: auto;
background-color: rgba(179, 131, 10, 0.744);
height: auto;
width: auto;
column-count: auto;
}
#cont3{
display: inline-block;
text-align: auto;
background-color: rgba(152, 165, 15, 0.567);
height: auto;
width: auto;
column-count: auto;
}
#cont4{
display: inline-block;
text-align: auto;
background-color: rgba(15, 165, 87, 0.567);
height: auto;
width: auto;
column-count: auto;
}
#cont5{
display: inline-block;
text-align: auto;
background-color: rgba(28, 15, 165, 0.567);
height: auto;
width: auto;
column-count: auto;
}
#footer{
display: inline-block;
text-align: auto;
background-color: rgba(15, 50, 165, 0.567);
height:200px;
width: auto;
column-count: auto;
}
#prueba{
width: auto;
height: auto;
margin-block: 7px;
}
#prueba2{
width: auto;
height: auto;
margin-block: 7px;
}